body {
    margin: 0;
    font-family: Verdana, Tahoma, 'Segoe UI', Geneva, sans-serif;
    background-color: #2c3e50;
    color: #333;
}

.content {
    margin-top: 170px;
    margin-left:30px;
    margin-right: 30px;
    padding: 30px;
    overflow-y: auto;
    background-color: snow;
    border-radius: 15px;
}

.navbar {
    background-color: #2c3e50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px 20px;

}


.navbar-logo {
    width:100px;
    max-width: 140px;

}

.navbar-title {
    margin-left: 50px;
    font-size: 24px;
    color: #ffffff;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.nav-buttons a {
    text-decoration: none;
    margin: 4px;
}


.action-button {
    width: 130px;
    background-color: #3498db;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.action-button:hover,
.action-button.active {
    background-color: #2980b9;
    border-bottom: 6px solid #f39c12;
    transform: scale(1.05);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid darkgray;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid black;
}

th {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #cccccc;
}

form {

    display: flex;
    flex-direction: column;
    max-width: 100%;
}

label {
    margin-bottom: 5px;
    font-size: 10px;
}

input {
    padding: 8px;
    box-sizing: border-box;
    font-size: 10px;
    width: 100%;
}

button.delete, button.edit, button.pass, button.magnet, button.to-defekt {
    padding: 8px 5px;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 2px;
    width: 100%;
    color: white;
    outline: 1px solid black;
    text-shadow: 0px 0px 1px black;
}

button.delete {
    background-color: red;
}

button.edit {
    background-color: sienna;
}

button.pass {
    background-color: blue;
}

button.magnet {
    background-color: goldenrod;
}

button.to-defekt {
    background-color: #e74c3c;
}

button.delete:hover, button.edit:hover, button.pass:hover, button.magnet:hover, button.to-defekt:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}

input[type="text"] {
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #2ecc71;
}

input[type="text"]:hover {
    background-color: #cccccc;
}


input[type="text"]::placeholder {
    color: #aaa;
    font-size: 12px;
}


.add-item-button {
    width: 150px;
    padding: 0; /* Remove padding */
    margin-top: 30px;
    font-size: 14px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Centers horizontally */
    text-align: center; /* Centers text horizontally */
    line-height: 50px; /* Adjust line-height to match the button height */
}

.add-item-button:hover {
    background-color: #2c3e50;;
    transform: scale(1.05);
}




.auftrag-buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}

.print-button {
    width:150px;
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.print-button:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}


.back-button {
    width:150px;
    background-color: #2c3e50;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 70px;

}

.back-button:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}

.add-new-item-button {

    margin-top:20px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;

}

.add-new-item-button:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.filter-wrapper {
    margin-top:20px;
    padding:30px 0px;
    width:auto;;
    border-radius: 10px;
}

#filterDropdown {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dropdown-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 150px;
}

#saveChangesButton {
    background-color: #2c3e50;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

#saveChangesButton:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}

.lieferant-box {
    border: 1px solid #f39c12;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: max-content;
}

.lieferant-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.buttons-group {
    display: flex;
    align-items: center;
}

.buttons-group form {
    margin-right: 10px;
}

button.lieferant-delete,
button.lieferant-edit {
    padding: 8px 15px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    color: white;
}

button.lieferant-delete {
    background-color: #e74c3c;
}

button.lieferant-edit {
    background-color: #be9f04;
}

button.lieferant-delete:hover,
button.lieferant-edit:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}

.pagetitle {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#rasterwalze-add-new {
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 900px) {
    .navbar-title,
    .navbar-logo {
        flex: 0 0 auto;
    }

    .add-new-item-button {
        margin-top:0px;

        display: inline-block;
        float:none;

    }

    .action-button {
        width: 70px;
        background-color: #3498db;
        border: none;
        color: #ffffff;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-weight:100;
    }


}
