<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item to Inventar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    {% include 'navbar.html' %}


    <div class="content">
        <a class="back-button" onclick="redirectToIndexPage()">Zurück</a>

        <form id="addItemForm" action="/add_item" method="post" class="add-item-form">
            <h2>Neue Rasterwalze erstellen</h2>
            <div class="form-group">
                <div>
                    <label for="elco_nummer">ELCO Nummer:</label>
                    <input type="text" id="elco_nummer" name="elco_nummer" required placeholder="ELCO Nummer">
                </div>
        
                <div>
                    <label for="maschine">Maschine:</label>
                    <input type="text" id="maschine" name="maschine" placeholder="Maschine">
                </div>
        
                <div>
                    <label for="mass">Mass:</label>
                    <input type="text" id="mass" name="mass" placeholder="Mass">
                </div>
        
                <div>
                    <label for="produktion_nummer">Produktion Nummer:</label>
                    <input type="text" id="produktion_nummer" name="produktion_nummer" placeholder="Produktion Nummer">
                </div>
        
                <div>
                    <label for="l_cm">L_cm:</label>
                    <input type="text" id="l_cm" name="l_cm" placeholder="L cm">
                </div>
        
                <div>
                    <label for="my">My:</label>
                    <input type="text" id="my" name="my" placeholder="My">
                </div>
        
                <div>
                    <label for="cm3">cm3:</label>
                    <input type="text" id="cm3" name="cm3" placeholder="cm3">
                </div>
        
                <div>
                    <label for="wo">Wo:</label>
                    <input type="text" id="wo" name="wo" placeholder="Wo">
                </div>
        
                <div>
                    <label for="erneuert">Erneuert:</label>
                    <input type="text" id="erneuert" name="erneuert" placeholder="Erneuert">
                </div>
        
                <div>
                    <label for="int_ausgang">Int Ausgang:</label>
                    <input type="text" id="int_ausgang" name="int_ausgang" placeholder="Int Ausgang">
                </div>
        
                <div>
                    <label for="int_eingang">Int Eingang:</label>
                    <input type="text" id="int_eingang" name="int_eingang" placeholder="Int Eingang">
                </div>
        
                <div>
                    <label for="bemerkung">Bemerkung:</label>
                    <input type="text" id="bemerkung" name="bemerkung" placeholder="Bemerkung">
                </div>
        
                <div>
                    <label for="prod_nr_2">Prod Nr 2:</label>
                    <input type="text" id="prod_nr_2" name="prod_nr_2" placeholder="Prod Nr 2">
                </div>
        
                <div>
                    <label for="alte_nummer">Alte Nummer:</label>
                    <input type="text" id="alte_nummer" name="alte_nummer" placeholder="Alte Nummer">
                </div>
        
                <div>
                    <label for="Cheshire">Cheshire:</label>
                    <input type="text" id="Cheshire" name="Cheshire" placeholder="Cheshire">
                </div>
        
                <div>
                    <label for="Apex">Apex:</label>
                    <input type="text" id="Apex" name="Apex" placeholder="Apex">
                </div>
        
                <div>
                    <label for="Praxair">Praxair:</label>
                    <input type="text" id="Praxair" name="Praxair" placeholder="Praxair">
                </div>
        
                <div>
                    <label for="Ersetzt">Ersetzt:</label>
                    <input type="text" id="Ersetzt" name="Ersetzt" placeholder="Ersetzt">
                </div>
            </div>
           
            <button type="submit" class="add-item-button">ERSTELLEN</button>
        </form>
        
    </div>
    <script>
    // AJAX request to check if ELCO number exists before submitting the form
document.getElementById("addItemForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent default form submission
    
    var elcoNummer = document.getElementById("elco_nummer").value;
    
    // Send AJAX request to check if ELCO number exists
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/check_elco_nummer_exists", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.exists) {
                    alert("ELCO number already exists. Please choose a different ELCO number.");
                } else {
                    // If ELCO number does not exist, submit the form
                    document.getElementById("addItemForm").submit();
                }
            } else {
                alert("Error checking ELCO number existence. Please try again.");
            }
        }
    };
    xhr.send(JSON.stringify({ elco_nummer: elcoNummer }));
});
</script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Get the current path
        var currentPath = window.location.pathname;
    
        // Get all navbar buttons
        var navButtons = document.querySelectorAll('.nav-buttons a');
    
        // Loop through each navbar button
        navButtons.forEach(function(button) {
            // Get the href attribute of the button
            var buttonUrl = button.getAttribute('href');
    
            // Check if the current path matches the button's URL
            if (currentPath === buttonUrl) {
                // Add the 'active' class to the parent button
                button.querySelector('button').classList.add('active');
            }
        });
    });
    </script>
            <script>
                function redirectToIndexPage() {
                    window.location.href = "{{ url_for('index') }}";
                }
            </script>
    </body>
    </html>
    