<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item to Inventar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    {% include 'navbar.html' %}
    {% include 'side_bar.html' %}

    <div class="content">

    <!-- Form for adding new item -->
    <form id="addItemForm" action="/add_item" method="post" class="add-item-form">
        <h2>Add New Item</h2>
        <div class="form-group">
            <label for="elco_nummer">ELCO Nummer:</label>
            <input type="text" id="elco_nummer" name="elco_nummer" required placeholder="ELCO Nummer">
    
            <label for="maschine">Maschine:</label>
            <input type="text" id="maschine" name="maschine" placeholder="Maschine">
    
            <label for="mass">Mass:</label>
            <input type="text" id="mass" name="mass" placeholder="Mass">
    
            <label for="produktion_nummer">Produktion Nummer:</label>
            <input type="text" id="produktion_nummer" name="produktion_nummer" placeholder="Produktion Nummer">
    
            <label for="l_cm">L cm:</label>
            <input type="text" id="l_cm" name="l_cm" placeholder="L cm">
    
            <label for="my">My:</label>
            <input type="text" id="my" name="my" placeholder="My">
    
            <label for="cm3">cm3:</label>
            <input type="text" id="cm3" name="cm3" placeholder="cm3">
    
            <label for="wo">Wo:</label>
            <input type="text" id="wo" name="wo" placeholder="Wo">
    
            <label for="erneuert">Erneuert:</label>
            <input type="text" id="erneuert" name="erneuert" placeholder="Erneuert">
    
            <label for="int_ausgang">Int Ausgang:</label>
            <input type="text" id="int_ausgang" name="int_ausgang" placeholder="Int Ausgang">
    
            <label for="int_eingang">Int Eingang:</label>
            <input type="text" id="int_eingang" name="int_eingang" placeholder="Int Eingang">
    
            <label for="bemerkung">Bemerkung:</label>
            <input type="text" id="bemerkung" name="bemerkung" placeholder="Bemerkung">
    
            <label for="prod_nr_2">Prod Nr 2:</label>
            <input type="text" id="prod_nr_2" name="prod_nr_2" placeholder="Prod Nr 2">
    
            <label for="alte_nummer">Alte Nummer:</label>
            <input type="text" id="alte_nummer" name="alte_nummer" placeholder="Alte Nummer">
    
            <label for="Cheshire">Cheshire:</label>
            <input type="text" id="Cheshire" name="Cheshire" placeholder="Cheshire">
    
            <label for="Apex">Apex:</label>
            <input type="text" id="Apex" name="Apex" placeholder="Apex">
    
            <label for="Praxair">Praxair:</label>
            <input type="text" id="Praxair" name="Praxair" placeholder="Praxair">
    
            <label for="Ersetzt">Ersetzt:</label>
            <input type="text" id="Ersetzt" name="Ersetzt" placeholder="Ersetzt">
        </div>
        <!-- Add more input fields for other item attributes -->
        <button type="submit" class="add-item-button">Submit</button>
    </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Get the current path
        var currentPath = window.location.pathname;
    
        // Get all navbar buttons
        var navButtons = document.querySelectorAll('.nav-buttons a');
    
        // Loop through each navbar button
        navButtons.forEach(function(button) {
            // Get the href attribute of the button
            var buttonUrl = button.getAttribute('href');
    
            // Check if the current path matches the button's URL
            if (currentPath === buttonUrl) {
                // Add the 'active' class to the parent button
                button.querySelector('button').classList.add('active');
            }
        });
    });
    </script>
    </body>
    </html>
    