<!-- Cheshire.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Cheshire Data</title>

</head>
<body>
    {% include 'navbar.html' %}
    {% include 'side_bar.html' %}

        <div class="content">
            <a class="print-button" href="/cheshire_auftrag">PRINT Auftrag</a>
            <a class="print-button" href="/cheshire_begleitschein">PRINT Begleitschein</a>      



     <table border="1" id="cheshireTable">
        <thead>
            <tr>
                <th>Delete</th>
                <th>ELCO_Nummer</th>
                <th>Maschine</th>
                <th>Mass</th>
                <th>Produktion_Nummer</th>
                <th>L_cm</th>
                <th>My</th>
                <th>Cm3</th>
                <th>Seitl_Rand</th>
                <th>Qual</th>
                <th>Schutzring</th>
                <th>Text</th>
                <th>Bemerkung</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate table content from Zecher.json -->
            {% for item in cheshire_data %}
                <tr>
                    <td>
                        <form id="deleteForm_{{ item.ELCO_Nummer }}" action="{{ url_for('delete_item_Cheshire', elco_nummer_delete=item.ELCO_Nummer) }}" method="post">
                            <button class="delete" type="button" onclick="confirmDelete('{{ item.ELCO_Nummer }}')">Delete</button>
                        </form>
                    </td>
                    <td>{{ item.ELCO_Nummer }}</td>
                    <td>{{ item.Maschine }}</td>
                    <td>{{ item.Mass }}</td>
                    <td>{{ item.Produktion_Nummer }}</td>
                    <td>{{ item.L_cm }}</td>
                    <td>{{ item.my }}</td>
                    <td>{{ item.cm3 }}</td>
                    <td contenteditable="true" id="seitl_rand_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'seitl_rand', this.innerText)">{{ item.seitl_rand }}</td>
                    <td contenteditable="true" id="qual_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'qual', this.innerText)">{{ item.qual }}</td>
                    <td contenteditable="true" id="schutzring_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'schutzring', this.innerText)">{{ item.schutzring }}</td>
                    <td contenteditable="true" id="text_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'text', this.innerText)">{{ item.text }}</td>
                    <td contenteditable="true" id="bemerkung_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'bemerkung', this.innerText)">{{ item.bemerkung }}</td>
                    <td contenteditable="true" id="datum_{{ item.ELCO_Nummer }}" oninput="handleCellChange('{{ item.ELCO_Nummer }}', 'datum', this.innerText)">{{ item.datum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Get the current path
        var currentPath = window.location.pathname;
    
        // Get all navbar buttons
        var navButtons = document.querySelectorAll('.nav-buttons-side a');
    
        // Loop through each navbar button
        navButtons.forEach(function(button) {
            // Get the href attribute of the button
            var buttonUrl = button.getAttribute('href');
    
            // Check if the current path matches the button's URL
            if (currentPath === buttonUrl) {
                // Add the 'active' class to the parent button
                button.querySelector('button').classList.add('active');
            }
        });
    });
    </script>
        <script>
            // Function to handle changes in editable cells
    function handleCellChange(elcoNum, field, value) {
        // Create a data object to send to the server
        const data = {
            elcoNum: elcoNum,
            field: field,
            value: value
        };
    
        // Send an AJAX POST request to save the updated value
        fetch('/update_cell_cheshire', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            // Reload cell values from JSON data
            reloadCellValues(data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    
    // Function to reload cell values from JSON data
    function reloadCellValues(data) {
        // Loop through the data and update cell values accordingly
        for (const item of data) {
            const elcoNum = item.ELCO_Nummer;
            document.getElementById(`seitl_rand_${elcoNum}`).innerText = item.seitl_rand;
            document.getElementById(`qual_${elcoNum}`).innerText = item.qual;
            document.getElementById(`schutzring_${elcoNum}`).innerText = item.schutzring;
            document.getElementById(`text_${elcoNum}`).innerText = item.text;
            document.getElementById(`bemerkung_${elcoNum}`).innerText = item.bemerkung;
            document.getElementById(`datum_${elcoNum}`).innerText = item.datum;
        }
    }
        </script>


</body>
</html>
