<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Edit Lieferant</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <a class="back-button" onclick="redirectToIndexPage()">Zurück</a>
    <h1>Edit Lieferant</h1>

    <form action="/lieferanten/edit/{{ lieferant.name }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ lieferant.name }}" required><br>

        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" value="{{ lieferant.adresse }}"><br>

        <label for="note">Note:</label>
        <input type="text" id="note" name="note" value="{{ lieferant.note }}"><br>

        <label for="kontakt">Kontakt:</label>
        <input type="text" id="kontakt" name="kontakt" value="{{ lieferant.kontakt }}"><br>

        <label for="b_kontakt">Begleitschein Kontakt:</label>
        <input type="text" id="b_kontakt" name="b_kontakt" value="{{ lieferant.b_kontakt }}"><br>

        <button class="add-item-button" type="submit">Speichern</button>

    </form>
    </div>
    <script>
        function redirectToIndexPage() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>

</body>
</html>
