<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farbmeister App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>

    {% include 'navbar.html' %}

    <div class="content">

        <a href="{{ url_for('add_item_page') }}" class="add-new-item-button">Neue Rasterwalze erstellen</a>


        <div class="filter-wrapper">
            <!-- Add label text for the dropdown -->
            <label for="filterDropdown" class="dropdown-label">Filter nach Maschine:</label>

            <!-- Add a larger and styled dropdown -->
            <select id="filterDropdown" onchange="filterTable()">
                <option value="all">Alle</option>
                <!-- Add options for unique values of Maschine attribute -->
                {% set maschinen = [] %}
                {% for item in inventar_data %}
                    {% for maschine in item.Maschine.split('/') %}
                        {% if maschine.strip() not in maschinen %}
                            {% set _ = maschinen.append(maschine.strip()) %}
                            <option value="{{ maschine.strip() }}">{{ maschine.strip() }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
         </div>



        <table id="inventoryTable">
            <thead>
                <tr>
                    <th>Löschen</th>
                    <th>Ändern</th>
                    <th>Pass</th>
                    <th>Magnet</th>

                    {% for lieferant in lieferanten_data %}
                        <th>{{ lieferant.name }}</th>
                    {% endfor %}


                    {% if inventar_data %}
                        {% for category in inventar_data[0].__dict__.keys() %}
                            <th>{{ category }}</th>
                        {% endfor %}
                    {% endif %}


                </tr>
            </thead>
            <tbody>

                {% for item in inventar_data %}

                    <tr>
                        <td>
                            <form id="deleteForm_{{ item.ELCO_Nummer }}" action="{{ url_for('delete_item', elco_nummer_delete=item.ELCO_Nummer) }}" method="post">
                                <button class="delete" type="button" onclick="confirmDelete('{{ item.ELCO_Nummer }}')">Löschen</button>
                            </form>
                        </td>

                        <td>
                            <form action="{{ url_for('edit_item', elco_nummer_edit=item.ELCO_Nummer) }}" method="GET">
                                <button class="edit" type="submit">Ändern</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('pass_page') }}" method="post">
                                <input type="hidden" name="elco_nummer_pass" value="{{ item.ELCO_Nummer }}">
                                <button class="pass" type="submit">Pass</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('magnet_page') }}" method="post">
                                <input type="hidden" name="elco_nummer_magnet" value="{{ item.ELCO_Nummer }}">
                                <button class="magnet" type="submit">Magnet</button>
                            </form>
                        </td>


                        {% for lieferant in lieferanten_data %}
                            <td>
                                <form action="{{ url_for('to_lieferant', lieferant_name=lieferant.name) }}" method="post">
                                    <input type="hidden" name="elco_nummer" value="{{ item.ELCO_Nummer }}">
                                    <button class="to-lieferant" type="submit">To {{ lieferant.name }}</button>
                                </form>


                            </td>
                        {% endfor %}


                        {% for value in item.__dict__.values() %}
                            <td>{{ value if value != None else "" }}</td>
                        {% endfor %}

                    </tr>
                {% endfor %}


            </tbody>
        </table>




    </div>



<script>
    function filterTable() {
        var filterValue = document.getElementById("filterDropdown").value;
        var rows = document.getElementById("inventoryTable").getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var maschineCell = rows[i].getElementsByTagName("td")[9];

            if (maschineCell) {
                var maschinen = maschineCell.textContent.trim().split('/');
                if (filterValue === "all" || maschinen.includes(filterValue)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>


</body>
</html>
