<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farbmeister App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <style>
        .max-width-cell {
            max-width: 150px;
            word-wrap: break-word;
            white-space: normal;
        }


    </style>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="content">
        <div class="navbar2">

            <div class="buttons-group">
                <form action="{{ url_for('pass_page') }}" method="post">
                    <input type="hidden" id="passElcoNum" name="elco_nummer_pass" value="">
                    <button class="pass" type="submit" onclick="selectAction('pass')" value="{{ selectedElcoNum }}" style="background-color: lightgray;">Pass</button>
                </form>
                
                <form action="{{ url_for('magnet_page') }}" method="post">
                    <input type="hidden" id="magnetElcoNum" name="elco_nummer_magnet" value="">
                    <button class="magnet" type="submit" onclick="selectAction('magnet')" value="{{ selectedElcoNum }}" style="background-color: lightgray;">Magnet</button>
                </form>

                <form action="{{ url_for('to_defekt') }}" method="post">
                    <input type="hidden" id="defektElcoNum" name="elco_nummer" value="">
                    <button class="to-defekt" type="submit" onclick="selectAction('toDefekt')" value="{{ selectedElcoNum }}" style="background-color: lightgray;">To Lieferant</button>
                </form>
                
            
            </div>

            <div class="filter-wrapper">

                <label for="filterDropdown" class="dropdown-label">Filter nach Maschine:</label>


                <select id="filterDropdown" onchange="filterTable()">
                    <option value="all">Alle</option>
                    {% set maschinen = [] %}
                    {% for item in inventar_data %}
                        {% if item.Maschine %}
                            {% for maschine in item.Maschine.split('/') %}
                                {% if maschine.strip() not in maschinen %}
                                    {% set _ = maschinen.append(maschine.strip()) %}
                                    <option value="{{ maschine.strip() }}">{{ maschine.strip() }}</option>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
        </div>



        <div class="table-container">
        <table id="inventoryTable">
            <thead>
                <tr>
                    {% if inventar_data %}
                        {% for category in inventar_data[0].__dict__.keys() %}
                            {% if category == "wo" %}
                                <th>{{ category }}</th>
                            {% else %}
                                <th>{{ category }}</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <th colspan="2"><a href="{{ url_for('add_item_page') }}" class="add-new-item-button">Neue Rasterwalze</a></th>

               
                    
                </tr>
            </thead>
            <tbody>

                {% for item in inventar_data %}

                    <tr>
                        {% for category, value in item.__dict__.items() %}
                            <td class="max-width-cell">{{ value if value != None else "" }}</td>
                        {% endfor %}

                        <td>
                            <form action="{{ url_for('edit_item', elco_nummer_edit=item.ELCO_Nummer) }}" method="GET">
                                <button class="edit" type="submit">Ändern</button>
                            </form>
                        </td>

                        <td>
                            <form id="deleteForm_{{ item.ELCO_Nummer }}" action="{{ url_for('delete_item', elco_nummer_delete=item.ELCO_Nummer) }}" method="post">
                                <button class="delete" type="button" onclick="confirmDelete('{{ item.ELCO_Nummer }}')">Löschen</button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}


            </tbody>
        </table>
        </div>




    </div>



<script>
    function filterTable() {
        var filterValue = document.getElementById("filterDropdown").value;
        var rows = document.getElementById("inventoryTable").getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var maschineCell = rows[i].getElementsByTagName("td")[1];

            if (maschineCell) {
                var maschinen = maschineCell.textContent.trim().split('/');
                if (filterValue === "all" || maschinen.includes(filterValue)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        styleCellsInColumnWithNeuText();
        styleCellsInColumnWithTablarText();
        styleCellsInColumnWithSpecialHeaders();
    });
</script>
<script>

    function styleCellsInColumnWithNeuText() {
        var table = document.getElementById("inventoryTable");
        var headerCells = table.getElementsByTagName("th");
        var columnIndexIntAusgang = -1;

        // Find the index of the column with header text "int_ausgang"
        for (var i = 0; i < headerCells.length; i++) {
            if (headerCells[i].textContent.trim() === "int_ausgang") {
                columnIndexIntAusgang = i;
                break;
                }
        }

        // Apply styling to chells containing the text "neu" in the identified column
        if (columnIndexIntAusgang !== -1) {
            var rows = table.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");

                if (cells.length > columnIndexIntAusgang && cells[columnIndexIntAusgang].textContent.trim() === "neu") {
                    cells[columnIndexIntAusgang].style.color = "red";
                    cells[columnIndexIntAusgang].style.fontWeight = "bold";
                    cells[columnIndexIntAusgang].style.fontSize = "13px";
                }
            }
        }
    }
</script>
<script>

    function styleCellsInColumnWithSpecialHeaders() {
        var table = document.getElementById("inventoryTable");
        var rows = table.getElementsByTagName("tr");
        var headerCells = table.getElementsByTagName("th");
        var specialColumnHeaders = ["ELCO_Nummer"];


        for (var h = 0; h < specialColumnHeaders.length; h++) {
            var columnIndex = -1;

            for (var i = 0; i < headerCells.length; i++) {
                if (headerCells[i].textContent.trim() === specialColumnHeaders[h]) {
                    columnIndex = i;
                    break;
                }
            }

            if (columnIndex !== -1) {
                var rows = table.getElementsByTagName("tr");
                for (var j = 0; j < rows.length; j++) {
                    var cells = rows[j].getElementsByTagName("td");
                    if (cells.length > columnIndex) {
                        cells[columnIndex].style.fontWeight = "bold"; 
                    }
                }
            }
        }
        
    }
</script>
<script>
    function styleCellsInColumnWithTablarText() {
        var table = document.getElementById("inventoryTable");
        var headerCells = table.getElementsByTagName("th");
        var columnIndexWo = -1;

        for (var i = 0; i < headerCells.length; i++) {
            if (headerCells[i].textContent.trim() === "wo") {
                columnIndexWo = i;
                break;
            }
        }

        if (columnIndexWo !== -1) {
            var rows = table.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");

                if (cells.length > columnIndexWo) {
                    var cellText = cells[columnIndexWo].textContent.trim().toLowerCase();

                    if (cellText.replace(/\s/g, '').includes("tablar") || cellText.replace(/\s/g, '').includes("lager")) {
                        cells[columnIndexWo].style.color = "green"; 
                        cells[columnIndexWo].style.fontWeight = "bold"; 
                    }
                }
            }
        }

        var machineNames = ["249", "202", "Ordo", "627", "EU", "GS", "241", "341", "381", "627", "326", "ORDO"];
        var lieferantenNames = ["apex","tls","zecher","cheshire"];

        if (columnIndexWo !== -1) {
            var rows = table.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                if (cells.length > columnIndexWo) {
                    var cellText = cells[columnIndexWo].textContent.trim().toLowerCase();

                    for (var j = 0; j < machineNames.length; j++) {
                        if (cellText.includes(machineNames[j].toLowerCase().replace(/\s/g, ''))) {
                            cells[columnIndexWo].style.color = "blue"; 
                        cells[columnIndexWo].style.fontWeight = "bold"; 
                            break;
                        }

                    }
                    for (var j = 0; j < lieferantenNames.length; j++) {
                        if (cellText.includes(lieferantenNames[j].toLowerCase().replace(/\s/g, ''))) {
                            cells[columnIndexWo].style.color = "brown"; 
                            cells[columnIndexWo].style.fontWeight = "bold"; 
                                break;
                        }
                    }

                }
            }
        }
    }

</script>


<script>
    var selectedRow = null;

    function enableEditDeleteButtons(row) {
        var editButton = row.querySelector('.edit');
        var deleteButton = row.querySelector('.delete');
        if (editButton && deleteButton) {
            editButton.disabled = false;
            deleteButton.disabled = false;
            editButton.style.backgroundColor = ''; // Restore default button color
            deleteButton.style.backgroundColor = ''; // Restore default button color
        }
    }

    function disableEditDeleteButtons(row) {
        var editButton = row.querySelector('.edit');
        var deleteButton = row.querySelector('.delete');
        if (editButton && deleteButton) {
            editButton.disabled = true;
            deleteButton.disabled = true;
            editButton.style.backgroundColor = 'lightgray'; // Set background color to gray
            deleteButton.style.backgroundColor = 'lightgray'; // Set background color to gray
        }
    }

    // Function to handle row selection
    function selectRow(row) {
        // Deselect the previously selected row, if any
        if (selectedRow !== null) {
            selectedRow.style.backgroundColor = '';
            disableEditDeleteButtons(selectedRow);
        }

        // Select the clicked row
        selectedRow = row;
        row.style.backgroundColor = 'lightblue';
        enablePassMagnetToDefektButtons()
        enableEditDeleteButtons(row);


    }

    // Add event listeners to each row to handle row selection
    window.onload = function() {
        var rows = document.getElementById('inventoryTable').getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            disableEditDeleteButtons(rows[i]); // Disable edit/delete buttons by default
            rows[i].addEventListener('click', function() {
                selectRow(this); 
            });
        }
        disablePassMagnetToDefektButtons();

        document.addEventListener('click', function(event) {
            // Check if the clicked element is outside the table and not a button
            if (!event.target.closest('#inventoryTable') && event.target.tagName !== 'BUTTON') {
                // Deselect the row
                if (selectedRow !== null) {
                    selectedRow.style.backgroundColor = '';
                    selectedRow = null;
                    disablePassMagnetToDefektButtons();
                    // Disable edit/delete buttons when clicked outside the table
                    var allRows = document.getElementById('inventoryTable').getElementsByTagName('tr');
                    for (var i = 0; i < allRows.length; i++) {
                        disableEditDeleteButtons(allRows[i]);
                    }
                }
            }
        });
    };

    function enablePassMagnetToDefektButtons() {
        var passButton = document.querySelector('.pass');
        var magnetButton = document.querySelector('.magnet');
        var toDefektButton = document.querySelector('.to-defekt');

        passButton.disabled = false;
        magnetButton.disabled = false;
        toDefektButton.disabled = false;

        passButton.style.backgroundColor = ''; // Restore default button color
        magnetButton.style.backgroundColor = ''; // Restore default button color
        toDefektButton.style.backgroundColor = ''; // Restore default button color
    }

    function disablePassMagnetToDefektButtons() {
        var passButton = document.querySelector('.pass');
        var magnetButton = document.querySelector('.magnet');
        var toDefektButton = document.querySelector('.to-defekt');

        passButton.disabled = true;
        magnetButton.disabled = true;
        toDefektButton.disabled = true;

        passButton.style.backgroundColor = 'lightgray'; // Set background color to gray
        magnetButton.style.backgroundColor = 'lightgray'; // Set background color to gray
        toDefektButton.style.backgroundColor = 'lightgray'; // Set background color to gray
    }

    

    function selectAction(action) {
        // Check if a row is selected
        if (selectedRow !== null) {
            var selectedElcoNum = selectedRow.querySelector('td.max-width-cell').textContent.trim();

            if (action === 'pass') {
                document.getElementById('passElcoNum').value = selectedElcoNum;
                document.forms[0].submit(); // Submit the form for Pass
            } else if (action === 'magnet') {
                document.getElementById('magnetElcoNum').value = selectedElcoNum;
                document.forms[1].submit(); // Submit the form for Magnet
            } else if (action === 'toDefekt') {
                document.getElementById('defektElcoNum').value = selectedElcoNum;
                document.forms[2].submit(); // Submit the form for To-Defekt
            }
        } 
        else {
                alert('Please select a row.');
        }
    }

    
</script>


</body>
</html>
