<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Lieferanten Data</title>
    <style>
        table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid darkgray;
    text-align: left; /* Add this line to align text to the left */
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid black;
    text-align: left; /* Add this line to align text to the left */
}
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <a class="back-button" onclick="redirectToIndexPage()">Zurück</a>

        <h1 class="pagetitle">Einstellungen</h1>

        <a href="{{ url_for('add_lieferant_page') }}" class="add-new-item-button">Neuer Lieferant erstellen</a>

        {% for supplier in lieferanten_data %}
    <div class="lieferant-box"  style="width: 100%;">
        <h2>{{ supplier.name }}</h2>
        <div class="buttons-group">
            <form action="/lieferanten/delete/{{ supplier.name }}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{ supplier.name }}? This action cannot be undone.');">
                <button class="lieferant-delete" type="submit">Delete</button>
            </form>

            <form action="{{ url_for('edit_lieferant_page', name=supplier.name) }}" method="GET">
                <button class="lieferant-edit" type="submit">Edit</button>
            </form>
        </div>
        <table>
            <tbody>
                {% for key in ['name', 'adresse', 'note', 'kontakt', 'b_kontakt'] %}
                <tr>
                    <td>{{ key.capitalize() }}</td>
                    <td>{{ supplier[key] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
    <script>
        function redirectToIndexPage() {
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</body>
</html>
