<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_print.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>{{ lieferant_name }} Begleitschein</title>
</head>
<body>
    <div id="not-printable">
        {% include 'navbar.html' %}
    </div>
    <div class="content">
        <div class="container">
        <div id="not-printable">
            <a class="back-button" onclick="redirectToIndexPage()">Zurück</a>
            <h1 class="pagetitle">{{ lieferant_name }}</h1>
            <div class="auftrag-buttons-group">
                <a class="print-button" onclick="redirectToAuftragPage()">Auftrag</a>
                <a class="print-button" onclick="redirectToBegleitscheinPage()">Begleitschein</a>
            </div>
            
            <button id="print_button" onclick="printPage()">Print</button>
        </div>
        <div id="printable">
        <table border="1">
            <tbody>
                <!-- Row 1 -->
                <tr>
                    <td id="first-row" colspan="13">Begleitschein / Bestellung</td>

                </tr>
                <!-- Row 2 -->
                <tr>
                    <td id="second-row" colspan="13">{{ lieferant["adresse"] }}</td>
                </tr>
                <!-- Row 3 -->
                <tr id="third-row">
                    <td id="cell_wide_blue">Maschine</td>
                    <td id="cell_wide_blue">Mass</td>
                    <td id="cell_wide_blue">Walzen-Nr.</td>
                    <td id="cell_wide_blue">Prod. Nummer</td>
                    <td id="cell_narrow">L/cm</td>
                    <td id="cell_narrow">my</td>
                    <td id="cell_narrow">cm3</td>
                    <td id="cell_wide_brown">seitl. Rand</td>
                    <td id="cell_narrow_brown">Qual.</td>
                    <td id="cell_narrow_brown">Schutz ring</td>
                    <td id="cell_wide_brown">Text</td>
                    <td id="cell_extra_wide_brown">Bemerkung</td>
                    <td id="cell_wide_brown">Datum</td>
                </tr>
                <!-- Data Rows -->
                {% for item in lieferant_data %}
                    <tr>
                        <td>{{ item.Maschine }}</td>
                        <td>{{ item.Mass }}</td>
                        <td>{{ item.ELCO_Nummer }}</td> <!-- Use correct key: ELCO_Nummer instead of Walzen_Nr -->
                        <td>{{ item.Produktion_Nummer }}</td> <!-- Use correct key: Produktion_Nummer instead of Prod_Nummer -->
                        <td>{{ item.L_cm }}</td>
                        <td>{{ item.my }}</td>
                        <td>{{ item.cm3 }}</td>
                        <td>{{ item.seitl_rand }}</td>
                        <td>{{ item.qual }}</td> <!-- Use correct key: qual instead of Qual -->
                        <td>{{ item.schutzring }}</td> <!-- Use correct key: schutzring instead of Schutz_ring -->
                        <td>{{ item.text }}</td> <!-- Use correct key: text instead of Text -->
                        <td>{{ item.bemerkung }}</td> <!-- Use correct key: bemerkung instead of Bemerkung -->
                        <td>{{ item.datum }}</td> <!-- Use correct key: datum instead of Datum -->
                    </tr>
                {% endfor %}
                <!-- Additional Rows -->
                <tr>
                    <td id="note-row" colspan="13">{{ lieferant["note"] }}</td>
                </tr>
               
                <tr>
                    <td id="footer-row" colspan="13">{{ lieferant["b_kontakt"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <script>
        // Function to redirect to lieferant_auftrag page with lieferant_name parameter
        function redirectToAuftragPage(lieferant_name) {
            window.location.href = "{{ url_for('lieferant_auftrag', lieferant_name=lieferant_name) }}";
        }
    </script>
            <script>
                function redirectToIndexPage() {
                    window.location.href = "{{ url_for('index') }}";
                }
            </script>
</body>
</html>
