<!-- magnet.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_pass_magnet.css') }}">
    <title>Magnet Page</title>

</head>
<body>
    <div id="not-printable">
        {% include 'navbar.html' %}
    </div>
    <div class="content">
    <div id="not-printable">
        <div class="toolbar-lieferant">
            <a class="back-button" onclick="redirectToIndexPage()">Zurück</a>
            <button class="print-button" onclick="printPage()">Print</button>
        </div>
    </div>

    <div id="printable">
        <table  class="magnet-table" border="1">
            <tbody>
                <!-- Row 1 -->
                <tr>
                    <td>Walzen Nr.</td>
                    <td>{{ item.ELCO_Nummer }}</td>
                </tr>
                <!-- Row 2 -->
                <tr>
                    <td>Linien</td>
                    <td>{{ item.L_cm }}</td>
                </tr>
                <!-- Row 3 -->
                <tr>
                    <td>Volumen</td>
                    <td>{{ item.cm3 }}</td>
                </tr>
                <!-- Row 4 -->
                <tr>
                    <td>Fabr. Nr.</td>
                    <td>{{ item.Produktion_Nummer }}</td>
                </tr>
                <!-- Row 5 -->
                <tr>
                    <td>Datum</td>
                    <td>{{ default_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    
    
    <script>
        function printPage() {
            window.print();
        }
    </script>
            <script>
                function redirectToIndexPage() {
                    window.location.href = "{{ url_for('index') }}";
                }
            </script>
</div>
</body>
</html>
