<div class="sidebar">
    <div class="nav-buttons-side">
        <a href="/"><button class="action-button-side">INVENTAR</button></a>
        <a href="/tls_page"><button class="action-button-side">TLS</button></a>
        <a href="/apex_page"><button class="action-button-side">APEX</button></a>
        <a href="/zecher_page"><button class="action-button-side">Zecher</button></a>
        <a href="/cheshire_page"><button class="action-button-side">Cheshire</button></a>

    </div>
</div>

<!-- Include the JavaScript code -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

